body {
	background-color: #FAFAFA;
}

#modeBtn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%
}

#applyBtn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%
}
.rowDivider {
    margin:13px 0;
}

.menuDivider {
    margin:2px 0;
}

.divider_modal {
    margin:10px 0;
}

.feature {
    padding:30px 0;
}
.feature-heading {
    text-align:center;
    fonsize:50px;
    color: #2a6496;
    margin-top:50px;
}

div.modal-body {
    text-align:center;
}

.templatemo-footer {
    clear: both;
    font-size: 13px;
    padding: 8px 0 5px 0;
    text-align: center;
    color: #ccc;
    background-color: #333;
}

.scope {
	padding: 0px 3px;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-weight: bold;
	color: #3473B2;
}
.titleText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 170%;
	color: #CCCCCC; 
}
.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.barText {
	font-size: 120%;
}
.vendorBtn {
	font-size: 110%;
}
.deviceBtn {
	font-size: 110%;
}
.vendorList	{
	font-size: 95%;
}
.deviceList	{
	font-size: 95%;
}

#detail_info{
    font-size: 18px;
    text-align: left;
}

