body{
    /*padding-top: 70px;*/
    /*padding-bottom:30px;*/
    /*background-color:#CCC;*/
}

hr.divider{
    margin:40px 0;
}

hr.divider1{
    margin:20px 0;
}

hr.divider2{
    margin:30px 0;
}

.divider_modal{
    margin:10px 0;
}
p.tabp2{
    text-align:center;
}

.feature{
    padding:30px 0;
}
.feature-heading{
    text-align:center;
    fonsize:50px;
    color: #2a6496;
    margin-top:50px;
}

div.modal-body{
    text-align:center;
}

.templatemo-footer {
    clear: both;
    font-size: 13px;
    padding: 8px 0 5px 0;
    text-align: center;
    color: #ccc;
    background-color: #333;
}